
Makefile
Makefile.Debug
Makefile.Release
*.bak
*.obj
release/*
debug/*
ui_gui*.h
*.md5
*.bat
Windows/coretemp/*
!Windows/coretemp/*.md
*.stash
*.user
.DS_Store
*.autosave
.vs
GeneratedFiles
*.sln
*.vcxproj
x64
_language
*Shubetria.vcxproj.filters*
*.o
moc_*
*.swp
qrc_gui*
Shubetria
